<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a [routerLink]="['/login']" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a [routerLink]="['/signup']" id="register-form-link">Signup</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" role="form" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-group">
                                    <input type="text" formControlName="email" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="alert alert-danger" *ngIf="error">{{error}}</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>