<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a [routerLink]="['']" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a [routerLink]="['/signup']" class="active" id="register-form-link">Signup</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" role="form" [formGroup]="signupForm" (ngSubmit)="signup()">
                                <div class="form-group">
                                    <input type="text" formControlName="username" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="email" formControlName="email" class="form-control" placeholder="Email Address" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="alert alert-danger" *ngIf="error">{{error}}</div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>